<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 ">
      <img class="bottomRight" src="/assets/images/streetmorning.jpg">
    </div>
    <div class="col-md-6">
      <div class="blurb">
        <h1>Saving your time <i id="timeIcon" class="fa fa-clock-o" aria-hidden="true"></i></h1>
         <p>Time spent on the road is less time spent at home with family and friends. GridKey is the solution to minimize traffic times for your frequent commutes.</p>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        <div class="blurb">
          <h1>Lowering Stress <i id="heartIcon" class="fa fa-heart" aria-hidden="true"></i></h1>
          <p>Long commutes increase stress and are associated with higher weight and heart risks.</p>
        </div>
      </div>
      <div class="col-md-6 ">
        <img class="topLeftBottom" id="bottomRight" src="/assets/images/sunsetStreet.jpg" >
      </div>

    </div>
      <div class="row">

        <div class="col-md-6 ">
          <img class="topRight" src="/assets/images/nature.jpg">
        </div>
          <div class="col-md-6">
            <div class="blurb">
              <h1>Protecting the Environment
              <i id="leafIcon"class="fa fa-envira" aria-hidden="true"></i>
              </h1>
              <p>Traffic increases pollution and vehicle emissions. Reducing traffic is a win/win way of protecting the environment.</p>
            </div>
          </div>
      </div>
</div>

