<div class="personalContainer">
  <div class="row">
    <div class="col-md-6 ">
      <div id="box" class="left-slide">
        <form (ngSubmit)="onSubmitLoc(f)" #f="ngForm" novalidate>
          <h3>Check Price</h3>
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control" id="origin" name="origin" [(ngModel)]="origin" placeholder="Origin">
          </mat-form-field>
          <button type="button" (click)="switchButton()" mat-icon-button color="primary">
            <i class="material-icons">swap_horiz</i>
          </button>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="destination" type="text" class="form-control" id="destination" name="destination" ngModel placeholder="Destination">
          </mat-form-field>
          <button mat-icon-button color="primary" type="submit">
            <i class="material-icons">directions</i>
          </button>
          <table class="table">
              <tbody>
                <tr class="animated" (click)="frequentLocationButton('432 Park Ave, New York, NY 10022')">
                  <a>
                    <i class="fa fa-home" aria-hidden="true"></i> Home
                    <span class="suggestedLocs">432 Park Ave, New York, NY 10022 </span>
                  </a>
                </tr>
                <tr class="animated" (click)="frequentLocationButton('285 Fulton St, New York, NY 10007')">
                  <a>
                    <i class="fa fa-suitcase" aria-hidden="true"></i> Work
                    <span class="suggestedLocs">285 Fulton St, New York, NY 10007</span>
                  </a>
                </tr>
                <tr class="animated" (click)="frequentLocationButton('1000 5th Ave, New York, NY 10028')">
                  <a>
                    <i class="far fa-clock" aria-hidden="true"></i>
                    <span class="suggestedLocs"> 1000 5th Ave, New York, NY 10028</span>
                  </a>
                </tr>
                <tr class="animated" (click)="frequentLocationButton('350 5th Ave, New York, NY 10118')">
                  <a>
                    <i class="far fa-clock" aria-hidden="true"></i>
                    <span class="suggestedLocs"> 350 5th Ave, New York, NY 10118</span>
                  </a>
                </tr>
              </tbody>
            </table>
          </form>
<!--           <mat-form-field class="example-full-width">
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> --> 
      </div>
    </div>

  

    <div class="col-md-7">
      
    </div>
  </div>
  <div class="row">
    <div class="filler-row">
      <h1></h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-3">
            <div *ngIf="uberPrice != -1">
                <div class="uberPrice"><h2 class="car-text fade-in-slow">${{uberPrice}}</h2></div>
                  <img  id="uber-car" class="slide-car" src="../assets/images/uberCar_burned.png">
                  <div id="uber-x-text"><h2 class="fade-in-slowp">Uber X</h2></div>
            </div>  
      </div>
      <div class="col-md-3">
       
        <div *ngIf="uberPrice != -1">
            <div class="uberPrice"><h2 class="xl-text fade-in-slow">${{uberPriceXl}}</h2></div>
              <img  id="uber-xl" class="slide-car" src="../assets/images/uberBlackPre.jpg">
              <div id="uber-xl-text"><h2 class="fade-in-slowp">Uber XL</h2></div>
        </div>  
    </div>
      <div class="col-md-9">
  
      </div>
    </div>
   
  </div>
  <div id="filler">
      
    </div>


 
