.pr4 {
  background-color: blue;
  height: 100%;
}

form {
  background-color: white;
  padding: 5%;
  float: left;
}

#mapsLogo {
  float: left;
  width: 30%;
  margin-right: 20%;
  margin-top: 5%;
}

#googleLogo {
  background-image: url("../../../res/images/MapsLogo.png");
  background-color: green;
  background-size: cover;
  height: 100px;
  background-position: center;
}

canvas {
  height: 100%;
  width: 100%;
  background: black;
}
