<div class="container-fluid">
  <div class="row">
     <div class="col-lg-3">
        <form class="example-form">

          <mat-form-field class="example-full-width">
            <input matInput  type="text" class="form-control" id="origin" name="origin" ngModel placeholder="Origin">
          </mat-form-field>
          <a><i class="fa fa-arrows-h" aria-hidden="true"></i></a>
          <mat-form-field class="example-full-width">
              <input matInput type="text" class="form-control" id="destination" name="destination" ngModel placeholder="Destination">
          </mat-form-field>

            <mat-list role="list">
              <mat-list-item role="listitem">
                <a>
                  <i class="fa fa-home" aria-hidden="true"></i> Home
                  <span class="suggestedLocs">432 Park Ave, New York, NY 10022 </span>
                </a>
              </mat-list-item>
              <mat-list-item role="listitem">
                <a>
                  <i class="fa fa-suitcase" aria-hidden="true"></i> Work
                  <span class="suggestedLocs">285 Fulton St, New York, NY 10007</span>
                </a>
              </mat-list-item>
              <mat-list-item role="listitem">
                <a>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="suggestedLocs"> 1000 5th Ave, New York, NY 10028</span>
                </a>
              </mat-list-item>
              <mat-list-item role="listitem">
                <a>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span class="suggestedLocs"> 350 5th Ave, New York, NY 10118</span>
                </a>
              </mat-list-item>
            </mat-list>
        </form>

     </div>
  </div>
</div>

<div class="pr4">
  <div class="container">
    <div class="row">
    <img id="mapsLogo" src="https://financialtribune.com/sites/default/files/field/image/17january/11_d_google_169_brief.png" >

    <form (ngSubmit)="onSubmitLoc(f)" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="origin">Origin</label>
        <input type="text" class="form-control" id="origin" name="origin" ngModel placeholder="Ex- 432 Park Avenue">
      </div>
      <div class="form-group">
        <label for="destination">Destination</label>
        <input type="text" ngModel name="destination" class="form-control" id="destination" placeholder="Bloomfield Connecticut">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input ngModel name="tolls" type="checkbox" class="form-check-input">Tolls
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
</div>
