<div class="personalContainer">
  <div class="row">
    <div class="col-md-5">
      <div id="box">
        <form (ngSubmit)="onSubmitLoc(f)" #f="ngForm" novalidate>
          <h3>Plan Journey</h3>
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control" id="origin" name="origin" ngModel placeholder="Origin">
          </mat-form-field>
          <button mat-icon-button color="primary">
            <i class="material-icons">swap_horiz</i>
          </button>
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="form-control" id="destination" name="destination" ngModel placeholder="Destination">
          </mat-form-field>
          <button mat-icon-button color="primary" type="submit">
            <i class="material-icons">directions</i>
          </button>
        </form>
      </div>
      <div >
        <table id="pop-locations" class="table">
          <tbody>
            <tr>
              <a>
                <i class="fa fa-home" aria-hidden="true"></i> Home
                <span class="suggestedLocs">432 Park Ave, New York, NY 10022 </span>
              </a>
            </tr>
            <tr id="green">
              <a>
                <i class="fa fa-suitcase" aria-hidden="true"></i> Work
                <span class="suggestedLocs">285 Fulton St, New York, NY 10007</span>
              </a>
            </tr>
            <tr>
              <a>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="suggestedLocs"> 1000 5th Ave, New York, NY 10028</span>
              </a>
            </tr>
            <tr>
              <a>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="suggestedLocs"> 350 5th Ave, New York, NY 10118</span>
              </a>
            </tr>
          </tbody>
        </table>


      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div>
        <canvas id="graph" baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <div id="filler">

  </div>
</div>
